<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Purchase Details</h4>
                      <p class="card-category"> View details of iitems that purchased by customer</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Date
                                  </th>
                                  <th>
                                      Amount
                                  </th>
                                  <th>
                                      Email
                                  </th>
                                  <th>
                                      item Purchased
                                  </th>
                                  <th>
                                    Description
                                </th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of ItemsArray">
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.date }}</td>
                                    <td>{{ item.amount}}</td>
                                    <td>{{ item.stripeEmail }}</td>
                                    <td>{{item.itemPurchased}}</td>
                                    <td>{{item.description}}</td>
                                    <td>
                                       
                                    </td>
                                 </tr>
                                 
                                
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
         
